.timeline {
    padding-block: 80px;
    padding-inline: 49px;
    font-size: 12px;
    font-family:  'Montserrat', sans-serif;
}

.outerContainer {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
}

.grid {
    display: grid;
    grid-template-areas: 'line content' 'circle date';
    row-gap: 4.68px;
    column-gap: 9px;
    justify-content: flex-start;
    /* align-items: baseline; */
    
}


.heading, .headingPara {
    text-align: center;
}

.heading {
    font-family: Clash Display;
    font-size: 20px;
    font-weight: 700;
    line-height: 133%;
}

.headingPara {
    margin-bottom: 56px;
    margin-top: 1rem;
    font-size: 14px;
    line-height: 172.4%;
}

.line {
    width: 2px;
    height: 95%;
    background: #D434FE;
    grid-area: line;
    justify-self: center;
    
}

.number {
    border-radius: 50%;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
    width: 19.32px;
    height: 19.32px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: circle;
    font-weight: 700;
    font-size: 12px;
}

.gridText {
    grid-area: content;
}

.gridText h3 {
    color: #D434FE;
    font-size: 12px;
    font-weight: 700;
}

.gridText p {
    font-size: 12px;
    font-weight: 400;
    line-height: 169.2%;
    margin-top: 10px; 
}

.date {
    grid-area: date;
    color: #D434FE;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-size: 12px;
}